<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ExcelFormattersSection" type="OfficeApp.ConfigSections.ExcelFormattersSection, OfficeApp"/>
  </configSections>
  <ExcelFormattersSection>
    <!--Pravidlo, kterým označíš klíčové slovo/slova a řekneš čím se mají nahradit-->
    
    <formatter id="1" keyword="Name des Werkstückprogramms:" replacement="PC-DMIS Messroutine" />
    <formatter id="2" keyword="Werkstückname:" replacement="Werkstückname" />
    <formatter id="3" keyword="Versionsnummer:" replacement="Versionsnummer" />
    <formatter id="4" keyword="Datum:" replacement="Datum" />
    <formatter id="5" keyword="Dimension Location" replacement="Merkmal Lage" />
    <formatter id="6" keyword="BESCHREIBUNG" replacement="Beschreibung" />
    <formatter id="7" keyword="ACHSE" replacement="Achse" />
    <formatter id="8" keyword="SOLL" replacement="NENNWERT" />
    <formatter id="9" keyword="-TOL" replacement="UTOL" />
    <formatter id="10" keyword="Datum Shift Effect" replacement="Bezugsverschiebungseffekt" />
    <formatter id="11" keyword="Unused Zone" replacement="Neue Zone" />
    <formatter id="12" range="c7:c7" numberFormat="hh:mm:ss" />
    <formatter id="13" keyword="MERKMAL" replacement="Merkmal" />
    <formatter id="14" keyword="Seriennummer:" replacement="Seriennummer" />
    <formatter id="15" keyword="Feature" replacement="Element" />
    <formatter id="16" keyword="ABWWINK" replacement="ABWINK" />
    <formatter id="17" keyword="Datum Shift Effect" replacement="Bezugsverschiebungseffekt" />
    <formatter id="18" keyword="Unused Zone" replacement="Neue Zone" />
  </ExcelFormattersSection>
  <appSettings>

    <!--Cesta k souboru který chceš měnit-->
    <add key="filename" value="L550MY20_HL_B_SC_DP_DRL_RHS_" />
    <add key="directory" value="C:\\Users\\obert\\source\\repos\\officeapp2\\OfficeApp\\Data\\" />
    

    <!--Excelovská oblast, která se bude procházet a nahrazovat se v ní texty-->
    <add key="range" value="a1:v232"/>
    

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>